<div class="card">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Etiket İsmi</th>
          <th>İşlemler</th>
        </tr>
      </thead>
      <tbody>
        @for(tag of tags(); track tag.id){
        <tr>
          <td>{{ tag.id }}</td>
          <td>{{ tag.tagName }}</td>
          <td class="actions">
            <button class="btn-edit" (click)="startUpdate(tag)">Güncelle</button>
            <button class="btn-delete" (click)="onDelete(tag.id)">Sil</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  
  <hr />
  
  <form [formGroup]="createForm" (ngSubmit)="onCreate()" class="admin-form">
    <h3>Etiket Ekle</h3>
    
    <div class="form-row">
      <div class="field-wrapper">
        <label>Etiket Adı</label>
        <input type="text" formControlName="tagName" placeholder="Etiket adı..." />
        @if(getErrorMessageByName(createForm, 'tagName'); as msg){
          <span class="error-msg">{{ msg }}</span>
        }
      </div>
  
      <button type="submit" [disabled]="createForm.invalid" class="btn-add">Ekle</button>
    </div>
  </form>
  
  @if(selectedTag() !== null){
    <hr />
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()" class="admin-form update-mode">
      <h3>Etiket Güncelle</h3>
  
      <input type="hidden" formControlName="id" />
  
      <div class="form-row">
        <div class="field-wrapper">
          <label>Etiket Adı</label>
          <input type="text" formControlName="tagName" placeholder="Etiket adı..." />
          @if(getErrorMessageByName(updateForm, 'tagName'); as msg){
            <span class="error-msg">{{ msg }}</span>
          }
        </div>
  
        <div class="button-group">
          <button type="submit" [disabled]="updateForm.invalid" class="btn-add">KAYDET</button>
          <button type="button" (click)="cancelUpdate()" class="btn-cancel">İptal</button>
        </div>
      </div>
    </form>
  }